@import url('https://fonts.googleapis.com/css?family=Averia+Libre:400,700|Averia+Sans+Libre:400,700');
$color-theme: #668099;

* {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgb(97, 70, 56), rgb(9, 7, 5) 85%);
  color: #ffffff;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  max-width: 767px;
}

header h1,
.chorus {
  color: $color-theme;
}

header {
  padding: 2rem 0;
  font-family: 'Averia Libre', sans-serif;
  text-align: center;
  
  h1 {
    font: {
      size: 6rem;
      weight: 400;
    }
    text-transform : lowercase;
  }

  p {
    font-size: 4rem;
  }

  img {
    margin-top: 2rem;
    border: 5px solid $color-theme;
    width: 30rem;
    height: 30rem;
  }
}

.lyrics {
  padding-bottom: 2rem;
  font: {
    family: 'Averia Sans Libre', sans-serif;
    size: 2rem;
  }
  
  p {
    padding: 1rem;
    padding-left: 8rem;
  }
}

footer {
  display: flex;
  border-top: 1px solid $color-theme;
  padding: 2rem 4rem;
  font-family: 'Averia Libre', sans-serif;
  color: $color-theme;
}

// .test {
// 	display: flex;
// 	flex-wrap: wrap;
// }

/* MOBILE */
@media(max-width: 767px) {
  // .container {
  //   max-width: 767px;
  // }

  header {
  padding: 1rem 0;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
    img {
      margin-top: 1rem;
      width: 15rem;
      height: 15rem;
    }
  }

  .lyrics {
    padding-bottom: 1rem;
    font-size: 1rem;
    p {
      padding-left: 2rem;
    }
  }

  footer {
    padding: 1rem 2rem;
  }
}